<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lot.name %>
</p>

<p>
  <strong>Number of spaces:</strong>
  <%= @lot.number_of_spaces %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
